# git ignore files
# https://git-scm.com/docs/gitignore 

# filesystem
.AppleDouble
.DS_Store
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db
$RECYCLE.BIN/

# editors
.idea
.project
*.sublime-*

# project
node_modules/
npm-debug.log
dist/**
coverage/
backstop_data/
