
.button
{
    background-color:       #fff;
    border:                 1px solid #ccc;
    border-radius:          4px;
    cursor:                 pointer;
    font-size:              14px;
    height:                 32px;
    padding:                0px 12px;
}

.button:hover
{
    background-color:       #e6e6e6;
    border-color:           #337ab7;
}
