body
{
    background:                 #999988;
}


.AppWrapper
{
    height:                     100vh;
}


.fishWrapper
{
    position:               fixed;
    left:                   calc( 100% - 5em );
    top:                    calc( 100% - 5em );
    z-index:                1;
}


.fish
{
    width:                  2.1em;
    height:                 2.1em;
    position:               relative;
    border-radius:          1.5em 0;
    transform:              rotate( 45deg );
    background-color:       rgba( 44, 44, 44, 0.9 );
}


.fish:before
{
    position:               absolute;
    content:                "";
    top:                    1.8em;
    right:                  1.4em;
    width:                  0.3em;
    height:                 0;
    border-bottom:          0.5em solid rgba( 44, 44, 44, 0.6 );
    border-left:            0.5em solid transparent;
    border-right:           0.5em solid transparent;
    transform:              rotate( 45deg );
}


.fish:after
{
    left:                   0.92em;
    top:                    0.18em;
    position:               absolute;
    content:                "";
    background-color:       #999988;
    font-weight:            bold;
    font-size:              1.5em;
    height:                 0.2em;
    width:                  0.2em;
    border-radius:          0.1em;
    box-shadow:             0.15em -0.7em 0.05em 0.02em #2c2c2c, -0.1em -1.2em 0.05em 0.06em #2c2c2c;
}
