

.container
{
    border-radius:          5px;
    display:                block;
    margin-left:            calc((100% - 900px) / 2);
    margin-right:           calc((100% - 900px) / 2);
    padding:                8px 4px;
}


.wrapper
{
    background-color:       #f8f8f8;
    border-bottom:          1px solid #e7e7e7;
}


.homeButton
{
    color:                  #777;
    float:                  left;
    font-size:              18px;
    height:                 30px;
    line-height:            32px;
    margin-right:           15px;
}


.homeButton:hover
{
    color:                  #337ab7;
}


.loginWrapper
{
    float:                  right;
    margin-left:            15px;
    color:                  #777;
    font-size:              18px;
    height:                 30px;
    line-height:            32px;
    margin-right:           15px;
}
